<?xml version="1.0" encoding="UTF-8"?>
<!--
@author Maciej Sławik <maciej.slawik@lizardmedia.pl>
@copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="LizardMedia_VarnishWarmer" setup_version="1.0.0">
    </module>
</config>