<?xml version="1.0"?>
<!--
@author Maciej Sławik <maciej.slawik@lizardmedia.pl>
@copyright Copyright (C) 2019 Lizard Media (http://lizardmedia.pl)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="LizardMedia_VarnishWarmer::main_menu"
             title="Lizard Media Varnish Warmer"
             module="LizardMedia_VarnishWarmer"
             sortOrder="80"
             resource="LizardMedia_VarnishWarmer::main_menu" />

        <add id="LizardMedia_VarnishWarmer::form_purge_multiple"
             title="Varnish: purge a group of URLs"
             module="LizardMedia_VarnishWarmer"
             sortOrder="10"
             parent="LizardMedia_VarnishWarmer::main_menu"
             action="lizardmediavarnish/purgemultiple/form"
             resource="LizardMedia_VarnishWarmer::cache_handling"
        />
        <add id="LizardMedia_VarnishWarmer::form_purge_single"
             title="Varnish: purge single URL"
             module="LizardMedia_VarnishWarmer"
             sortOrder="20"
             parent="LizardMedia_VarnishWarmer::main_menu"
             action="lizardmediavarnish/purgesingle/form"
             resource="LizardMedia_VarnishWarmer::cache_handling"
        />
    </menu>
</config>