<?xml version="1.0" encoding="UTF-8"?>
<!--
@author Maciej Sławik <maciej.slawik@lizardmedia.pl>
@copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lizardmediavarnish" frontName="lizardmediavarnish">
            <module name="LizardMedia_VarnishWarmer" before="Magento_Backend"/>
        </route>
    </router>
</config>
