<?xml version="1.0"?>
<!--
@author Maciej Sławik <maciej.slawik@lizardmedia.pl>
@copyright Copyright (C) 2019 Lizard Media (http://lizardmedia.pl)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="lm_varnish" translate="label" sortOrder="300">
            <label>LizardMedia Varnish</label>
        </tab>
        <section id="lm_varnish"  showInDefault="1" translate="label">
            <tab>lm_varnish</tab>
            <label>Varnish Cache Warmer</label>
            <resource>LizardMedia_VarnishWarmer::settings</resource>
            <group id="general" showInDefault="1" translate="label">
                <label>General</label>
                <field id="max_concurrent_regeneration" type="text" showInDefault="1" translate="label">
                    <label>Number of concurrent regeneration processes</label>
                </field>
                <field id="max_concurrent_purge" type="text" showInDefault="1" translate="label">
                    <label>Number of concurrent purge processes</label>
                </field>
            </group>
            <group id="purge" showInDefault="1" translate="label">
                <label>Purging</label>
                <field id="different_purge_host" type="select" showInDefault="1" translate="label">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Use custom host for purging</label>
                </field>
                <field id="custom_host" type="text" showInDefault="1" translate="label comment">
                    <label>Custom host</label>
                    <comment>If you need to purge multiple URLs (multiple Varnish servers) split the urls with a comma</comment>
                    <depends>
                        <field id="lm_varnish/purge/different_purge_host">1</field>
                    </depends>
                </field>
                <field id="header_host" type="text" showInDefault="1" translate="label">
                    <label>Additional host address for purge request header</label>
                    <depends>
                        <field id="lm_varnish/purge/different_purge_host">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>